@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body{
height: 100%;
}

@layer base {
    :root {
        --color-fill: #fff;
        --color-fill-low-contrast: #fcf5c7;
        --color-stroke: #adf7b6;
        --color-stroke-low-contrast: #c8e6c9;
        --color-note-1: #79addc;
        --color-note-2: #ffc09f;
        --color-note-3: #adf7b6;
        --color-text-primary: #333333;
        --color-text-muted: #4e4e4e;
        --color-text-inverted: #fdf5e6;
    }

    .text-xxs {
        font-size: 0.625rem; /* 10px */
        line-height: 1rem; /* 16 px */
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 0.25rem;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #c0c0c0;
        border-radius: 5px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #888888;
    }
}