@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body{
height: 100%;
}

@layer base {
    :root {
        --color-fill: #FBFCE7;
        --color-fill-secondary: #ECDCC2;
        --color-stroke: #59594A;

        --border-width: 2px;
        --border-radius: 12px;
        --border-color: var(--color-stroke);

        --color-fill-low-contrast: #fcf5c7;
        --color-fill-high-contrast: #adf7b6;
        --color-stroke-low-contrast: #c8e6c9;
        --color-note-1: #d1c7be;
        --color-note-2: #a4b8b9;
        --color-note-3: #7f998e;
        --color-note-4: #efab8d;
        /* --color-stroke: #2c2c2c; */
        --color-text-inverted: #fdf5e6;
        --color-text-primary: var(--color-stroke);
        --color-text-muted: #4e4e4e;
    }

    .text-xxs {
        font-size: 0.625rem; /* 10px */
        line-height: 1rem; /* 16 px */
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 0.25rem;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #c0c0c0;
        border-radius: 5px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #888888;
    }
}